<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Recuperar Contraseña
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form [formGroup]="form" (ngSubmit)="recuperarPassword()" #Form="ngForm">
        <div class="form">
            <ion-list lines="none">      
                <ion-item lines="none">
                  <div class="item_inner d-flex">
                      <div class="icon_box ion-text-start"><img src="assets/images/password_primary.png"></div>
                      <div class="input_box">
                          <ion-label mode="md" position="stacked">Contraseña</ion-label>
                          <ion-input mode="md" type="password" placeholder="Contraseña" inputmode="text" minLength="15" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" formControlName="contrasenia"></ion-input>
                      </div>
                  </div>
                </ion-item>
                <p class="d-flex" [ngStyle]="{'color':getContrasenia().errors && getContrasenia().touched ? 'red' : 'var(--bg-color)'}">
                    <br>
                    <span *ngIf="getContrasenia().hasError('required')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo es requerido.
                    </span>
                    <span *ngIf="getContrasenia().hasError('pattern')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo debe contener minimo 8 caracteres con mayúsculas, minúsculas, numeros y caracter.
                    </span>
                </p>
                
                <ion-item lines="none">
                    <div class="item_inner d-flex">
                        <div class="icon_box ion-text-start"><img src="assets/images/password_primary.png"></div>
                        <div class="input_box">
                            <ion-label mode="md" position="stacked">Confirmar Contraseña</ion-label>
                            <ion-input mode="md" type="password" placeholder="Contraseña" inputmode="text" minLength="15" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" formControlName="confContrasenia"></ion-input>
                        </div>
                    </div>
                </ion-item>
                <p class="d-flex" [ngStyle]="{'color':getConfContrasenia().errors && getConfContrasenia().touched ? 'red' : 'var(--bg-color)'}">
                    <br>
                    <span *ngIf="getConfContrasenia().hasError('required')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo es requerido.
                    </span>
                    <span *ngIf="getConfContrasenia().hasError('pattern')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo debe contener minimo 8 caracteres con mayúsculas, minúsculas, numeros y caracter.
                    </span>
                </p>
            </ion-list>            
        </div>
    </form>  
</ion-content>
<ion-footer>    
    <ion-button size="large" expand="full" class="btn" (click)="Form.ngSubmit.emit()">Enviar Código</ion-button>
</ion-footer>