ion-header{
	background-size: 100% 100%;
	width: 100%;
    height: 40%;
    ion-icon{
        font-size: 22px;
        margin-top: 5px;
        margin-right: 5px;
        float: right;
        color: var(--white);
        background: var(--red_color);
        padding:3px;
        border-radius: 50%;
    }
}

.header_image{
    background-image: url('../../../../assets/images/placeholder.png');
    background-size: 100% 100%;
	width: 100%;
    height: 40%;
    ion-icon{
        font-size: 22px;
        margin-top: 5px;
        margin-right: 5px;
        float: right;
        color: var(--white);
        background: var(--red_color);
        padding:3px;
        border-radius: 50%;
    }
}

ion-list {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: none;

    h1 {
        padding: 13px 20px;
        margin: 0;
        color: var(--primary);
        background: var(--white);
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        position: relative;
    }

    .name_shop{
        font-size: 1.5rem;
        text-align: center;
    }


    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        background: var(--white);
        padding: 13px 20px;
        margin-bottom: 8px;
        --min-height: unset;

        .item_General {
            width: 100%;
        }
    }

    .lista_detalles {
        margin-bottom: 8px;

        ion-item {
            margin-bottom: 0px;
            border-bottom: 1px solid var(--bg-color) !important;

            ion-note{
                ion-icon {
                    color: var(--primary);
                    font-size: 1.35rem;
                    min-width: 34px;
                }
            }

            .item_General {
                width: 100%;
                .cajaText {

                    h3 {
                        margin: 0;
                        color: var(--text-black);
                        font-size: 0.94rem;
                        font-weight: 500;
                        letter-spacing: 0.3px;
                    }

                    .text_final {
                        padding-top: 4px;

                        h5 {
                            margin: 0;
                            border-radius: 50px;
                            font-weight: 400;
                            font-size: .95rem;
                            display: flex;
                            align-items: center;
                            min-width: fit-content;
                        }

                        h4 {
                            margin: 0;
                            color: var(--text-black);
                            font-size: .9rem;
                            font-weight: 500;
                            letter-spacing: .3px;
                            min-width: 68px;
                        }

                    }
                }
            }
        }
    }

    .form {
        padding: 0;

        ion-item {
            .item_General.d-flex {
                align-items: center !important;
            }

            .icon_box {
                position: relative;
                top: 2px;
            }
        }
    }
}