<ion-tabs>
  <ion-tab-bar slot="bottom">
      <!-- Reciclclador -->
      <ion-tab-button tab="ver-recoleccion">
          <div class="tab-button">
              <div class="tab-button-inner">
                  <div class="icon_box">
                      <img src="assets/images/logo_primary_menu.png" class="light-them-icon">
                      <img src="assets/images/logo_primary_menu.png" class="dark-them-icon">
                  </div>
              </div>
          </div>

          <div class="tab-button selected">
              <div class="tab-button-inner">
                  <div class="icon_box">
                      <img src="assets/images/logo_primary.png">
                  </div>
                  <h2>Ruta</h2>
              </div>
          </div>
      </ion-tab-button>

      <ion-tab-button tab="ver-tienda">
          <div class="tab-button">
              <div class="tab-button-inner">
                  <div class="icon_box">
                      <img src="assets/images/shop_menu.png" class="light-them-icon">
                      <img src="assets/images/shop_menu.png" class="dark-them-icon">
                  </div>
              </div>
          </div>

          <div class="tab-button selected">
              <div class="tab-button-inner">
                  <div class="icon_box">
                      <img src="assets/images/shop_primary.png">
                  </div>
                  <h2>Tiendas</h2>
              </div>
          </div>
      </ion-tab-button>

      <ion-tab-button tab="perfil-reciclador">
          <div class="tab-button">
              <div class="tab-button-inner">
                  <div class="icon_box">
                      <img src="assets/images/perfil_menu.png" class="light-them-icon">
                      <img src="assets/images/perfil_menu.png" class="dark-them-icon">
                  </div>
              </div>
          </div>

          <div class="tab-button selected">
              <div class="tab-button-inner">
                  <div class="icon_box">
                      <img src="assets/images/perfil_primary.png">
                  </div>
                  <h2>Cuenta</h2>
              </div>
          </div>
      </ion-tab-button>
  </ion-tab-bar> 
</ion-tabs>

