ion-header {
    background: var(--white);
}

ion-list {
    background: none;
    margin: 0;
    padding: 0;

    h2 {
        padding: 20px 20px 3px 20px;
        margin: 0;
        color: var(--text-light);
        font-size: .9rem;
    }

    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        background: var(--white);

        .item_General {
            width: 100%;

            .item_info {
                padding: 10px 15px;
                border-bottom: 1px solid var(--bg-color);

                .detalles_ruta {
                    width: 100%;

                    h3 {
                        margin: 0;
                        font-size: .92rem;
                        color: var(--text-black);
                        font-weight: 600;
                        padding-bottom: 8px;

                        span {
                            &.estado_ruta {
                                color: var(--primary);
                                font-weight: 500;
                                font-size: .86rem;
                            }
                        }
                    }

                    h4 {
                        margin: 0;
                        color: var(--text-light);
                        font-size: .8rem;
                        font-weight: 500;
                        letter-spacing: .3px;
                    }
                }
            }

            .icono_info {

                position: relative;

                .dotted_icon {
                    display: block;
                    margin: 2px 0px;

                    span {
                        display: block;
                        min-width: 45px;
                        height: 4px;
                        position: relative;
                        width: fit-content;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: var(--text-light);
                            width: 2px;
                            height: 2px;
                            border-radius: 50%;
                            margin: auto;

                        }

                    }
                }

                .from_to {
                    position: relative;

                    .icon_box {
                        min-width: 45px;
                        margin-right: 15px;
                        width: fit-content;

                        ion-icon {
                            text-align: center;
                            margin: 0 auto;
                            display: block;
                            color: var(--primary);
                        }
                    }
                }
            }
        }
    }
}