.item-container {
    padding: 23px 20px;
    --animate-duration: .3s;

    h2 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 400;
        padding-bottom: 18px;
        color: var(--text-black);
    }

    ion-row {
        margin: 0 -8px;
        margin-top: 15%;

        ion-col {
            padding: 10px;

            .item_box {
                background: var(--bg-color);
                width: 100%;
                border-radius: 5px;
                padding: 18px 15px;

                .item_img {
                    width: 75px;
                    display: block;
                    margin: auto;
                    margin-bottom: 16px;
                }

                .item_text {
                    h3 {
                        margin: 0;
                        color: var(--text-black);
                        text-transform: uppercase;
                        font-size: 0.7rem;
                        font-weight: 600;
                        line-height: 16px;
                        letter-spacing: 0.5px;
                    }

                    .mm{
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }
            }

            &.animate__animated.animate__zoomInUp {
                &:nth-child(1) {
                    --animate-duration: .15s;
                }

                &:nth-child(2) {
                    --animate-duration: .2s;
                }

                &:nth-child(3) {
                    --animate-duration: .25s;
                }

                &:nth-child(4) {
                    --animate-duration: .3s;
                }

                &:nth-child(5) {
                    --animate-duration: .35s;
                }

                &:nth-child(6) {
                    --animate-duration: .4s;
                }

                &:nth-child(7) {
                    --animate-duration: .45s;
                }

                &:nth-child(8) {
                    --animate-duration: .5s;
                }
            }
        }
    }
}