<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
          <div *ngIf="state === 'crear'">
            Agregar Material
          </div>
          <div *ngIf="state === 'actualizar'">
            Actualizar Material
          </div>
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="bg_color" fullscreen>
    <form [formGroup]="form" (ngSubmit)="guardarMaterial()" #Form="ngForm">
      <ion-list lines="none">
          <div class="form">
              <ion-item lines="none">
                  <div class="item_inner d-flex">
                      <div class="input_box">
                          <ion-label mode="md" position="stacked">Tipo de Material</ion-label>
                          <div class="d-flex" style="align-items: flex-end;">
                              <ion-select formControlName="tipoMaterial" placeholder="Seleccionar">
                                  <ion-select-option *ngFor="let lista of listaMateriales" [value]="lista.material">{{lista.material}}</ion-select-option>
                              </ion-select>
                              
                              <ion-icon class="zmdi zmdi-chevron-down ion-text-end end"></ion-icon>
                          </div>
                      </div>
                  </div>
              </ion-item>
  
              <h3 class="d-flex end" [ngStyle]="{'color':getTipoMaterial().errors && getTipoMaterial().value !== '' ? 'var(--red_color)' : 'var(--bg-color)'}">
                <ion-icon name="warning-outline"></ion-icon>
                <div *ngIf="getTipoMaterial().hasError('required')">
                  Este campo es requerido.
                </div>
              </h3>
  
              <div>
                <ion-item lines="none" >
                    <div class="item_inner d-flex">
                        <div class="input_box">
                            <ion-label mode="md" position="stacked">Material</ion-label>
                            <ion-input mode="md" type="text" [placeholder]="Material" formControlName="tipoMaterial" maxLength="10" [value]="material"></ion-input>
                        </div>
                    </div>
                </ion-item>
    
                <h3 class="d-flex end" [ngStyle]="{'color':getTipoMaterial().errors && getTipoMaterial().touched ? 'var(--red_color)' : 'var(--bg-color)'}">
                  <ion-icon name="warning-outline"></ion-icon>
                  <div *ngIf="getTipoMaterial().hasError('required')">
                    Este campo es requerido.
                  </div>
                </h3>
              </div>              

              <ion-item lines="none">
                <div class="item_inner d-flex">
                    <div class="input_box">
                        <ion-label mode="md" position="stacked">Precio</ion-label>
                        <ion-input mode="md" type="text" [placeholder]="Precio" formControlName="precio" maxLength="6"></ion-input>
                    </div>
                </div>
            </ion-item>

            <h3 class="d-flex end" [ngStyle]="{'color':getPrecio().errors && getPrecio().touched ? 'var(--red_color)' : 'var(--bg-color)'}">
              <ion-icon name="warning-outline"></ion-icon>
              <div *ngIf="getPrecio().hasError('required')">
                Este campo es requerido.
              </div>
              <div *ngIf="getPrecio().hasError('pattern')">
                Este campo es numerico.
              </div>
            </h3>            
          </div>
      </ion-list>
  </form>
  </ion-content>
  
  <ion-footer class="ion-no-border">
    <ion-button size="large" expand="full" (click)="Form.ngSubmit.emit()" class="btn">
      <div *ngIf="state === 'crear'">
        Agregar
      </div>
      <div *ngIf="state === 'actualizar'">
        Actualizar
      </div>
    </ion-button>
  </ion-footer>