<ion-header>
  <ion-toolbar>
      <ion-title>Mi Cuenta</ion-title>
  </ion-toolbar>
  <div class="reciclador_perfil" *ngIf="reciclador !== null">
      <h2>{{reciclador.name + ' ' + reciclador.lastName}}</h2>
      <p>{{reciclador.phone}}</p>
      <p>{{reciclador.user?.email}}</p>
  </div>
  <div class="reciclador_perfil" *ngIf="reciclador === null">
    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
  </div>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="none">

      <ion-item routerLink="/reciclador/ver-datos-reciclador"> 
        <div class="item_inner d-flex"  >
            <div class="icon_box ion-text-start">
                <img src="assets/images/perfil_primary.png">
            </div>
            <h2>Ver Datos</h2>
        </div>
      </ion-item>

      <ion-item routerLink="/tabs-reciclador/ver-recoleccion">
          <div class="item_inner d-flex">
              <div class="icon_box ion-text-start">
                  <img class="recycler" src="assets/images/logo_primary.png">
              </div>
              <h2>Recoleccion</h2>
          </div>
      </ion-item>

      <ion-item  routerLink="/tabs-reciclador/ver-tienda">
          <div class="item_inner d-flex">
              <div class="icon_box ion-text-start">
                  <img  class="recycler" src="assets/images/shop_primary.png">
              </div>
              <h2>Tiendas</h2>
          </div>
      </ion-item>  

      <ion-item routerLink="/reciclador/historial-rutas">
        <div class="item_inner d-flex" >
            <div class="icon_box ion-text-start">
                <img class="recycler" src="assets/images/historial_primary.png">
            </div>
            <h2>Historial</h2>
        </div>
      </ion-item> 
      
      <ion-item routerLink="/reciclador/ver-comentario-reciclador">
        <div class="item_inner d-flex" >
            <div class="icon_box ion-text-start">
                <img class="recycler" src="assets/images/notification_primary.png">
            </div>
            <h2>Notificaciones</h2>
        </div>
      </ion-item> 

      <ion-item routerLink="/usuarios/enviar-sugerencia">
        <div class="item_inner d-flex">
            <div class="icon_box ion-text-start">
                <img class="recycler" src="assets/images/sugerencia_primary.png">
            </div>
            <h2>Sugerencia</h2>
        </div>
      </ion-item> 
      
      <ion-item routerLink="/cuidados">
        <div class="item_inner d-flex" >
            <div class="icon_box ion-text-start">
                <img class="recycler" src="assets/images/cuidados_primary.png">
            </div>
            <h2>Cuidados</h2>
        </div>
      </ion-item> 

      <ion-item (click)="apiService.logOut()">
          <div class="item_inner d-flex">
              <div class="icon_box ion-text-start">
                  <img src="assets/images/log_out_primary.png">
              </div>
              <h2>Cerrar Sesión</h2>
          </div>
      </ion-item>
  </ion-list>
</ion-content>