<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center">
          Tiendas
      </ion-title>
  </ion-toolbar>
  <div class="search_box">
      <ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
      <ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="Buscar Nombre"></ion-searchbar>
  </div>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="map" #map>
  </div>
</ion-content>
