ion-content{
    width: 100%;
    background: none;

    .banner {
        min-height: 100px;
        display: flex;
        align-items: center;
    
        .logo {
            display: block;
            width: 100px;
            margin: auto;
        }
    }

    ion-icon{
        font-size: 30px;
        margin-left: 16px;
        margin-top: 16px;
        position: absolute;
        z-index: 9999;
    }

    .upper_div{
        position: relative;
        height: 150px;
        .yellow_div{
            width: 120%;
            height: 260px;
            background: var(--primary);
            border-radius: 50%;
            position: absolute;
            top: -160px;
            right: -100px;
        }

        .yellow_div_ios{
            top: -190px !important;
            right: -130px !important;
        }
    }

    .lower_div{
        padding: 20px;
        ion-label {
            display: block;
        }
        .head_lbl{
            text-align: center;
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 20px;
            color: var(--primary);
        }

        .small_lbl{
            font-size: 12px;
            margin-bottom: 5px;
        }
        ion-input{
            border: 1px solid var(--text-light);
            margin-bottom: 15px;
            --padding-start: 8px;
            border-radius: 5px;
        }

        .forgot{
            text-align: right;
            color: var(--primary);
            margin-bottom: 10px;
        }

        ion-button{
            --background: var(--primary);
            --border-radius: 5px;
            margin-top: 20px;
        }
        .bottom_lbl{
            display: block;
            text-align: center;
            margin-top: 20px;
        }
        .signup_span{
            font-weight: 500;
        }
    }
}

.my-custom-class {
    background: linear-gradient(90deg, rgba(165, 255, 192, 1) 1%, rgba(0, 212, 255, 1) 100%);
}