<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<div class="title_inner d-flex">
				<span class="offline">Crear Ruta</span>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen scrollEvents="false">
	<div class="map" #mapAceptar>
	</div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-card *ngIf="destino">
        <div class="icon_reciclaje d-flex">
            <div class="cajaImg">
                <img src="assets/registro/registro2.png">
            </div>
            <div class="cajaText">
                <h2>{{destino.typeOfMaterial}}</h2>
                <h3>{{distancia}} km <span>({{duracion}} min)</span></h3>
            </div>
        </div>
        <div class="detalles_reciclaje">
            <div class="direccion d-flex">
                <ion-icon class="zmdi zmdi-pin ion-text-center"></ion-icon>
                <div class="cajaText">
                    <h2>Destino</h2>
                    <p>Facatativa, {{destino.address.neighborhood}}, {{destino.address.streetType}}{{destino.address.career}} {{destino.address.numberOne}}-{{destino.address.numberTwo}}</p>
                </div>
            </div>
            <div class="espacios">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="direccion d-flex">
                <ion-icon class="zmdi zmdi-navigation ion-text-center"></ion-icon>
                <div class="cajaText">                    
                    <h2 class="pd">Tu Ubicacion</h2>
                </div>
            </div>
        </div>
    </ion-card>

    <ion-card *ngIf="!destino">
        <div class="card_header d-flex">
            <div class="img_box">
                <img src="assets/registro/registro2.png">
            </div>
            <div class="cajaText">
                <h2>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </h2>
                <h3>
                    <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text> 
                    <span>(<ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
                    </span>
                </h3>
            </div>
        </div>
        <div class="detalles_reciclaje">
            <div class="direccion d-flex">
                <ion-icon class="zmdi zmdi-pin ion-text-center"></ion-icon>
                <div class="cajaText">
                    <h2>Destino</h2>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                </div>
            </div>
            <div class="espacios">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="direccion d-flex">
                <ion-icon class="zmdi zmdi-navigation ion-text-center"></ion-icon>
                <div class="cajaText">                    
                    <h2 class="pd">Tu Ubicacion</h2>
                </div>
            </div>
        </div>
    </ion-card>

    <ion-button size="large" shape="full" class="btn" (click)="crearRuta()">Confirmar Ruta</ion-button>
</ion-footer>