<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Actualizar Perfil
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form [formGroup]="form" (ngSubmit)="actualizarDatos()" #Form="ngForm">
        <div class="form">
            <ion-list lines="none">
                <ion-item lines="none">
                    <div class="item_inner d-flex">
                        <div class="icon_box ion-text-start"><img src="assets/images/perfil_primary.png"></div>
                        <div class="input_box">
                            <ion-label mode="md" position="stacked">Nombre</ion-label>
                            <ion-input mode="md" type="text" placeholder="Nombre" inputmode="text" maxLength="25" formControlName="nombre"></ion-input>
                        </div>
                    </div>
                </ion-item>
                <p class="d-flex" [ngStyle]="{'color':getNombre().errors && getNombre().touched ? 'red' : 'var(--bg-color)'}">
                    <br>
                    <span *ngIf="getNombre().hasError('required')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo es requerido.
                    </span>
                    <span *ngIf="getNombre().hasError('maxLength')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Te pasaste, máximo debe tener 15 caracteres.
                    </span>
                </p>
      
                <div>
                    <ion-item lines="none">
                        <div class="item_inner d-flex">
                            <div class="icon_box ion-text-start"><img src="assets/images/perfil_primary.png"></div>
                            <div class="input_box">
                                <ion-label mode="md" position="stacked">Apellido</ion-label>
                                <ion-input mode="md" type="text" placeholder="Apellido" inputmode="text" maxLength="25" formControlName="apellido"></ion-input>
                            </div>
                        </div>
                      </ion-item> 
                      <p class="d-flex" [ngStyle]="{'color':getApellido().errors && getApellido().touched ? 'red' : 'var(--bg-color)'}">
                          <br>
                          <span *ngIf="getApellido().hasError('required')" class="end">  
                              <ion-icon name="warning-outline"></ion-icon>
                              Este campo es requerido.
                          </span>
                          <span *ngIf="getApellido().hasError('maxLength')" class="end">  
                              <ion-icon name="warning-outline"></ion-icon>
                              Te pasaste, máximo debe tener 15 caracteres.
                          </span>
                      </p>
                </div>      
      
              <ion-item lines="none">
                <div class="item_inner d-flex">
                    <div class="icon_box ion-text-start"><img src="assets/images/phone_primary.png"></div>
                    <div class="input_box">
                        <ion-label mode="md" position="stacked">Telefono</ion-label>
                        <ion-input mode="md" placeholder="Télefono" type="text" inputmode="tel" formControlName="telefono" maxLength="10"></ion-input>
                    </div>
                </div>
              </ion-item> 
              <p class="d-flex" [ngStyle]="{'color':getTelefono().errors && getTelefono().touched ? 'red' : 'var(--bg-color)'}">
                <br>
                <span *ngIf="getTelefono().hasError('required')" class="end">  
                    <ion-icon name="warning-outline"></ion-icon>
                    Este campo es requerido.
                </span>
                <span *ngIf="getTelefono().hasError('pattern')" class="end">  
                    <ion-icon name="warning-outline"></ion-icon>
                    Este campo solo es numerico.
                </span>
              </p>                
            </ion-list>
            
        </div>

    </form>  
</ion-content>
<ion-footer  class="ion-no-border">    
    <ion-button size="large" expand="full" class="btn" (click)="Form.ngSubmit.emit()">Actualizar</ion-button>
</ion-footer>