<ion-header>
  <ion-toolbar>
      <div class="toolbar_inner d-flex">
          <ion-buttons slot="start" mode="md">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
              <div class="title_inner">
                  Sugerencias
              </div>
          </ion-title>
      </div>
      <ion-buttons slot="end">
        <ion-button (click)="eliminarNotifiaciones()">
          <ion-icon class="btaa" name="notifications-off"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none" *ngIf="listaComentario !== null">
    <ion-item *ngFor="let lista of listaComentario">
      <div class="item_inner">
          <h5 class="d-flex">
            {{lista.date | date:'MMM d, y, h:mm a'}}
          </h5>
          <p>
            {{lista.description}}
          </p>
      </div>
    </ion-item>
  </ion-list>
  <ion-list lines="none" *ngIf="listaComentario === null">
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
      <div class="item_inner" style="width: 100%">
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
