<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">          
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Usuarios
      </ion-title>
  </ion-toolbar>
  <div class="search_box animate__animated animate__zoomIn">
      <ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
      <ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="Buscar Correo"></ion-searchbar>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-list>
      <h2>{{listaUsuario.length}} Usuarios</h2>
      <ion-item *ngFor="let lista of listaUsuario" [routerLink]= "['/admin/lista-usuario-admin/ver-usuario-admin/',lista.role, lista.email, lista.id]">
        <div class="item_inner d-flex"> 
          <div class="img_box center_img">            
            <img src="https://www.uic.mx/posgrados/files/2018/05/default-user.png" class="crop_img">
          </div>
          <div class="text_box">
            <h3>
              {{lista.email}}
            </h3>
            <h4 class="d-flex" *ngIf="lista.role === 'isResident'">Residente</h4>
            <h4 class="d-flex" *ngIf="lista.role === 'Reciclador'">Reciclador</h4>
            <h4 class="d-flex" *ngIf="lista.role === 'isShop'">Tienda</h4>
          </div>
          <ion-note slot="end" >
            <ion-label>
              <ion-label *ngIf="lista.state==true" color="primary" >
                <h3>Activo</h3>
              </ion-label>
              <ion-label *ngIf="lista.state==false" color="danger">
                <h3>Inactivo</h3>
              </ion-label>
            </ion-label>
          </ion-note>
        </div>               
      </ion-item>
    </ion-list>
</ion-content>