<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">          
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Recolección
      </ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentoCambiado()" [(ngModel)]="segment">
    <ion-segment-button mode="ios" value="0">
        <ion-label>Espera</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="1">
        <ion-label>Activo</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="2">
      <ion-label>Finalizado</ion-label>
  </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="bg_color" fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="tab_content">
    <ion-slides #slides (ionSlideDidChange)="sliderCambiado()">
      <ion-slide>
        <ion-list lines="none">
          <ion-item *ngFor="let lista of listaPuntosEspera" [routerLink]= "['/admin/lista-recoleccion-admin/ver-recoleccion-admin/espera/',lista.id]" detailIcon="delete">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="{{lista.image}}" class="crop_img">
                </div>
                <div class="text_box">
                    <h3>{{lista.typeOfMaterial}}</h3>
                    <h4 class="d-flex">                
                      <ion-icon class="zmdi zmdi-time ion-text-start"></ion-icon>
                      {{lista.createDate | date: 'shortDate' }} <span>|</span> {{lista.createDate | date:'hh:mm a'}}
                    </h4>  
                    <h5 class="d-flex">
                      {{lista.state}}
                    </h5>
                </div>
            </div>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="150" (ionInfinite)="cargarPageE($event)">
          <ion-infinite-scroll-content
            loadingSpinner="crescent"
            loadingText="Cargando...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-slide>
      <ion-slide>
        <ion-list lines="none">
          <ion-item *ngFor="let lista of listaPuntosActivo" [routerLink]= "['/admin/lista-recoleccion-admin/ver-recoleccion-admin/espera/',lista.id]" detailIcon="delete">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="{{lista.image}}" class="crop_img">
                </div>
                <div class="text_box">
                    <h3>{{lista.typeOfMaterial}}</h3>
                    <h4 class="d-flex">                
                      <ion-icon class="zmdi zmdi-time ion-text-start"></ion-icon>
                      {{lista.createDate | date: 'shortDate' }} <span>|</span> {{lista.createDate | date:'hh:mm a'}}
                    </h4>  
                    <h5 class="d-flex" style="color: var(--secondary);">
                      {{lista.state}}
                    </h5>
                </div>
            </div>
          </ion-item>
        </ion-list>  
        <ion-infinite-scroll threshold="150" (ionInfinite)="cargarPageA($event)">
          <ion-infinite-scroll-content
            loadingSpinner="crescent"
            loadingText="Cargando...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-slide>
      <ion-slide>
        <ion-list lines="none">
          <ion-item *ngFor="let lista of listaPuntosFinalizado" [routerLink]= "['/admin/lista-recoleccion-admin/ver-recoleccion-admin/finalizado/',lista.id]" detailIcon="delete">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="{{lista.image}}" class="crop_img">
                </div>
                <div class="text_box">
                    <h3>{{lista.typeOfMaterial}}</h3>
                    <h4 class="d-flex">                
                      <ion-icon class="zmdi zmdi-time ion-text-start"></ion-icon>
                      {{lista.createDate | date: 'shortDate' }} <span>|</span> {{lista.createDate | date:'hh:mm a'}}
                    </h4>  
                    <h5 class="d-flex" style="color: var(--red_color);">
                      {{lista.state}}
                    </h5>
                </div>
            </div>
          </ion-item>
        </ion-list> 
        <ion-infinite-scroll threshold="150" (ionInfinite)="cargarPageF($event)">
          <ion-infinite-scroll-content
            loadingSpinner="crescent"
            loadingText="Cargando...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll> 
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
