<ion-tabs>
<ion-tab-bar slot="bottom">
    <!-- Tienda -->
    <ion-tab-button tab="ver-datos-tienda">
        <div class="tab-button">
            <div class="tab-button-inner">
                <div class="icon_box">
                    <img src="assets/images/sugerencia_menu.png" class="light-them-icon">
                    <img src="assets/images/sugerencia_menu.png" class="dark-them-icon">
                </div>
            </div>
        </div>

        <div class="tab-button selected">
            <div class="tab-button-inner">
                <div class="icon_box">
                    <img src="assets/images/sugerencia_primary.png">
                </div>
                <h2>Perfil</h2>
            </div>
        </div>
    </ion-tab-button>

    <ion-tab-button tab="perfil-tienda">
        <div class="tab-button">
            <div class="tab-button-inner">
                <div class="icon_box">
                    <img src="assets/images/perfil_menu.png" class="light-them-icon">
                    <img src="assets/images/perfil_menu.png" class="dark-them-icon">
                </div>
            </div>
        </div>

        <div class="tab-button selected">
            <div class="tab-button-inner">
                <div class="icon_box">
                    <img src="assets/images/perfil_primary.png">
                </div>
                <h2>Cuenta</h2>
            </div>
        </div>
    </ion-tab-button>
</ion-tab-bar>
</ion-tabs>
