<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Registro
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form [formGroup]="form" (ngSubmit)="guardarUsuario()" #Form="ngForm">
        <div class="form">
            <ion-list lines="none">
                <ion-item lines="none">
                    <div class="item_inner d-flex">
                        <div class="icon_box ion-text-start"><img src="assets/images/perfil_primary.png"></div>
                        <div class="input_box">
                            <ion-label mode="md" position="stacked">Nombre</ion-label>
                            <ion-input mode="md" type="text" placeholder="Nombre" maxLength="25" formControlName="nombre"></ion-input>
                        </div>
                    </div>
                </ion-item>
                <p class="d-flex" [ngStyle]="{'color':getNombre().errors && getNombre().touched ? 'red' : 'var(--bg-color)'}">
                    <br>
                    <span *ngIf="getNombre().hasError('required')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo es requerido.
                    </span>
                    <span *ngIf="getNombre().hasError('pattern')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo no debe contener carácteres.
                    </span>
                    <span *ngIf="getNombre().hasError('maxLength')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Te pasaste, máximo debe tener 15 caracteres.
                    </span>
                </p>
      
                <div *ngIf="rol != 'tienda'">
                    <ion-item lines="none">
                        <div class="item_inner d-flex">
                            <div class="icon_box ion-text-start"><img src="assets/images/perfil_primary.png"></div>
                            <div class="input_box">
                                <ion-label mode="md" position="stacked">Apellido</ion-label>
                                <ion-input mode="md" type="text" placeholder="Apellido" maxLength="25" formControlName="apellido"></ion-input>
                            </div>
                        </div>
                      </ion-item> 
                      <p class="d-flex" [ngStyle]="{'color':getApellido().errors && getApellido().touched ? 'red' : 'var(--bg-color)'}">
                          <br>
                          <span *ngIf="getApellido().hasError('required')" class="end">  
                              <ion-icon name="warning-outline"></ion-icon>
                              Este campo es requerido.
                          </span>
                          <span *ngIf="getApellido().hasError('pattern')" class="end">  
                              <ion-icon name="warning-outline"></ion-icon>
                              Este campo no debe contener carácteres.
                          </span>
                          <span *ngIf="getApellido().hasError('maxLength')" class="end">  
                              <ion-icon name="warning-outline"></ion-icon>
                              Te pasaste, máximo debe tener 15 caracteres.
                          </span>
                      </p>
                </div>
                
      
                <ion-item lines="none">
                  <div class="item_inner d-flex">
                      <div class="icon_box ion-text-start"><img src="assets/images/mail_primary.png"></div>
                      <div class="input_box">
                          <ion-label mode="md" position="stacked">Correo</ion-label>
                          <ion-input mode="md" type="email" placeholder="Correo" inputmode="numeric" formControlName="correo" maxLength="50"></ion-input>
                      </div>
                  </div>
                </ion-item>
                <p class="d-flex" [ngStyle]="{'color':getCorreo().errors && getCorreo().touched ? 'red' : 'var(--bg-color)'}">
                    <br>
                    <span *ngIf="getCorreo().hasError('required')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo es requerido.
                    </span>
                    <span *ngIf="getCorreo().hasError('email')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        El correo no es válido.
                    </span>
                </p>

                <div *ngIf="rol == 'reciclador'">
                    <ion-item lines="none">
                        <div class="item_inner d-flex">
                            <div class="icon_box ion-text-start"><img src="assets/images/document_primary.png"></div>
                            <div class="input_box">
                                <ion-label mode="md" position="stacked">Documento</ion-label>
                                <ion-input mode="md" type="text" placeholder="Documento" inputmode="numeric" formControlName="numeroDocumento" maxLength="10"></ion-input>
                            </div>
                        </div>
                      </ion-item>
                      <p class="d-flex" [ngStyle]="{'color':getNumeroDocumento().errors && getNumeroDocumento().touched ? 'red' : 'var(--bg-color)'}">
                          <br>
                          <span *ngIf="getNumeroDocumento().hasError('required')" class="end">  
                              <ion-icon name="warning-outline"></ion-icon>
                              Este campo es requerido.
                          </span>
                          <span *ngIf="getNumeroDocumento().hasError('pattern')" class="end">  
                              <ion-icon name="warning-outline"></ion-icon>
                              Este campo solo es numerico.
                          </span>
                      </p>
                </div>                
      
                <div class="item_inner" *ngIf="rol == 'tienda'">
                  <ion-row>
                      <ion-col size="6">
                          <ion-item lines="none">
                              <div class="item_inner d-flex error">
                                <div class="icon_box ion-text-start"><img src="assets/images/document_primary.png"></div>
                                  <div class="input_box">
                                      <ion-label position="stacked">Documento</ion-label>
                                      <ion-select placeholder="Tipo" formControlName="tipoDocumento">
                                        <ion-select-option value="CC">C.C.</ion-select-option>
                                        <ion-select-option value="NIT">N.I.T.</ion-select-option>
                                      </ion-select>
                                  </div>
                              </div>
                          </ion-item>
                      </ion-col>
      
                      <ion-col size="6">
                          <ion-item lines="none">
                              <div class="item_inner d-flex">
                                  <div class="input_box">
                                    <br>
                                    <ion-input mode="md" type="text" placeholder="Numero" inputmode="numeric" formControlName="numeroDocumento" maxLength="10"></ion-input>
                                  </div>
                              </div>
                          </ion-item>                    
                      </ion-col>
                  </ion-row>                  
                  <p class="d-flex error" [ngStyle]="{'color':getNumeroDocumento().errors && getNumeroDocumento().touched || getTipoDocumento().errors && getTipoDocumento().touched ? 'red' : 'var(--bg-color)'}">
                    <br>
                    <span *ngIf="getNumeroDocumento().hasError('pattern') && getTipoDocumento().value != ' ' && getNumeroDocumento().touched " class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo solo es numerico.
                    </span>
                    <span *ngIf="getNumeroDocumento().hasError('required') && getTipoDocumento().value != ' ' && getNumeroDocumento().touched " class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        El numero de documento es requerido.
                    </span>
                    <span *ngIf="getTipoDocumento().untouched && getNumeroDocumento().touched" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        El tipo de documento es requerido.
                    </span>
                  </p>
              </div>          
      
              <ion-item lines="none">
                <div class="item_inner d-flex">
                    <div class="icon_box ion-text-start"><img src="assets/images/phone_primary.png"></div>
                    <div class="input_box">
                        <ion-label mode="md" position="stacked">Telefono</ion-label>
                        <ion-input mode="md" placeholder="Télefono" type="text" inputmode="tel" formControlName="telefono" maxLength="10"></ion-input>
                    </div>
                </div>
              </ion-item> 
              <p class="d-flex" [ngStyle]="{'color':getTelefono().errors && getTelefono().touched ? 'red' : 'var(--bg-color)'}">
                <br>
                <span *ngIf="getTelefono().hasError('required')" class="end">  
                    <ion-icon name="warning-outline"></ion-icon>
                    Este campo es requerido.
                </span>
                <span *ngIf="getTelefono().hasError('pattern')" class="end">  
                    <ion-icon name="warning-outline"></ion-icon>
                    Este campo solo es numerico.
                </span>
              </p>
      
              <ion-item lines="none">
                  <div class="item_inner d-flex">
                      <div class="icon_box ion-text-start"><img src="assets/images/password_primary.png"></div>
                      <div class="input_box">
                          <ion-label mode="md" position="stacked">Contraseña</ion-label>
                          <ion-input mode="md" type="password" placeholder="Contraseña" formControlName="contraseña" minLength="6" maxLength="15" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,15}$"></ion-input>
                      </div>
                  </div>
                </ion-item> 
                <p class="d-flex" [ngStyle]="{'color':getContrasenia().errors && getContrasenia().touched ? 'red' : 'var(--bg-color)'}">
                    <br>
                    <span *ngIf="getContrasenia().hasError('required')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo es requerido.
                    </span>
                    <span *ngIf="getContrasenia().hasError('pattern')" class="end">  
                        <ion-icon name="warning-outline"></ion-icon>
                        Este campo debe contener minimo 8 caracteres con mayúsculas, minúsculas, numeros y caracter.
                    </span>
                </p>
                
            </ion-list>
            
        </div>

    </form>  
</ion-content>
<ion-footer>    
    <ion-button size="large" expand="full" class="btn" (click)="Form.ngSubmit.emit()">Registrarse</ion-button>
</ion-footer>