<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" mode="md">
        <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <div class="title_inner d-flex">
          <span class="offline">Ver Perfil</span>
        </div>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
  <ion-list lines="none">
      <div class="item_list">
        <h1>Informacion del Usuario</h1>
        <ion-item>
          <div class="item_inner">
              <div class="text_box">
                  <h3>Correo</h3>
                  <div class="buttons d-flex">
                      <h5>{{usuario.email}}</h5>
                  </div>
              </div>
          </div>
        </ion-item>
      </div>

      <div class="item_list">
        <h1>Datos Personales</h1>
        <ion-item>
            <div class="item_inner">
                <div class="text_box">
                    <h3>Nombre</h3>
                    <div class="buttons d-flex">
                        <h5>{{reciclador.name}}</h5>
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item>
          <div class="item_inner">
              <div class="text_box">
                  <h3>Apellido</h3>
                  <div class="buttons d-flex">
                      <h5>{{reciclador.lastName}}</h5>
                  </div>
              </div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item_inner">
              <div class="text_box">
                  <h3>Documento</h3>
                  <div class="buttons d-flex">
                      <h5>{{reciclador.documentType +' '+ reciclador.document}}</h5>
                  </div>
              </div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item_inner">
              <div class="text_box">
                  <h3>Teléfono</h3>
                  <div class="buttons d-flex">
                      <h5>{{reciclador.phone}}</h5>
                  </div>
              </div>
          </div>
        </ion-item>
      </div>

      <div>
        <ion-item [routerLink]="['/reciclador/editar-datos-reciclador', reciclador.id]" class="button_detail">
          <ion-icon name="create-outline" slot="start"></ion-icon>        
          <h5>Editar Datos</h5>
        </ion-item>        
      </div>

  </ion-list>
</ion-content>
