<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center">
        Ver Perfil
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
  <ion-list lines="none">
      <ion-item class="feature_image">
        <div class="item_inner">
            <h2> Imagen de Tienda</h2>
            <div class="d-flex" style="align-items: flex-start;">
                <div class="img_box center_img">
                    <img *ngIf="tienda.image === null" src="assets/images/placeholder.png" class="crop_img">
                    <img *ngIf="tienda.image !== null" src="{{tienda.image}}" class="crop_img">
                </div>
                <ion-chip outline (click)="addNewToGallery()">
                  <ion-icon class="zmdi zmdi-camera ion-text-start"></ion-icon>
                  <ion-label>Subir Foto</ion-label>
                </ion-chip>
            </div>
        </div>
      </ion-item>
      <div class="item_list">
        <h1>Informacion del Usuario</h1>
        <ion-item>
          <div class="item_inner">
              <div class="text_box">
                  <h3>Correo</h3>
                  <div class="buttons d-flex">
                      <h5>{{usuario.email}}</h5>
                  </div>
              </div>
          </div>
        </ion-item>
      </div>

      <div class="item_list">
        <h1>Datos Personales</h1>
        <ion-item>
            <div class="item_inner">
                <div class="text_box">
                    <h3>Nombre</h3>
                    <div class="buttons d-flex">
                        <h5>{{tienda.name}}</h5>
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item>
          <div class="item_inner">
              <div class="text_box">
                  <h3>Documento</h3>
                  <div class="buttons d-flex">
                      <h5>{{tienda.documentType + ' ' +tienda.document}}</h5>
                  </div>
              </div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item_inner">
              <div class="text_box">
                  <h3>Teléfono</h3>
                  <div class="buttons d-flex">
                      <h5>{{tienda.phone}}</h5>
                  </div>
              </div>
          </div>
        </ion-item>
      </div>

      <div>
        <ion-item [routerLink]="['/tienda/editar-datos-tienda', tienda.id]" class="button_detail">
          <ion-icon name="create-outline" slot="start"></ion-icon>        
          <h5>Editar Datos</h5>
        </ion-item>        
      </div>

      <div class="item_list">
        <h1>Lista de Materiales</h1>
        <ion-item *ngFor="let material of materiales" (click)="actualizarMaterial(material)">
            <div class="item_inner">
                <div class="text_box">
                    <h3>{{material.typeOfMaterial}}</h3>
                    <div class="buttons d-flex"> 
                        <h5>1 kg x 1</h5>
                        <h4 class="ion-text-end end">$ {{material.price}}</h4>
                    </div>
                </div>
            </div>
            <ion-button (click)="presentPopoverMaterial($event)" expand="block" fill="clear" shape="round">                  
              <ion-icon id="hover-button" slot="end" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button> 
        </ion-item>
      </div>

      <div>
        <ion-item [routerLink]= "['/tienda/agregar-material/crear', tienda.id]" class="button_detail">
          <ion-icon name="basket" slot="start"></ion-icon>
          <h5>Agregar Material</h5>
        </ion-item>        
      </div>

      <div *ngIf="direccion !== null">        
        <h1>Direccion</h1>
        <ion-list>
          <div class="item_list">
              <ion-item (click)="actualizarDireccion(direccion)">
                <div class="item_inner">
                    <div class="text_box">               
                      <h3 *ngIf="direccion.numberOne !== null">{{direccion.streetType + ' ' + direccion.career + ' #' + direccion.numberOne + ' - ' + direccion.numberTwo}}</h3>
                      <h3 *ngIf="direccion.numberOne === null">{{direccion.streetType + ' ' + direccion.career}}</h3>
                      <h3>{{direccion.description}}</h3>
                      <h3>Facatativá , {{direccion.neighborhood}}</h3>
                    </div>
                </div>
                <ion-button (click)="presentPopoverDireccion($event)" expand="block" fill="clear" shape="round">                  
                  <ion-icon id="hover-button" slot="end" name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>   
              </ion-item>
          </div>
        </ion-list>
      </div>

      <div *ngIf="direccion === null">
        <ion-item [routerLink]= "['/usuarios/agregar-direccion/tienda/crear', tienda.id]" class="button_detail">
          <ion-icon name="location-sharp" slot="start"></ion-icon>
          <h5>Agregar Domicilio</h5>
        </ion-item>        
      </div>      

  </ion-list>
</ion-content>