<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center">
        Ver Perfil
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
  <ion-list lines="none">
      <ion-item class="imagen_tienda">
        <div class="item_General">
            <h2> Imagen de Tienda</h2>
            <div class="d-flex" style="align-items: flex-start;">
                <div class="cajaImagen center_img">
                    <img *ngIf="tienda.image === undefined || tienda.image === null" src="assets/images/placeholder.png" class="crop_img">
                    <img *ngIf="tienda.image !== null" src="{{tienda.image}}" class="crop_img">
                </div>
                <ion-chip outline (click)="addNewToGallery()">
                  <ion-icon class="zmdi zmdi-camera ion-text-start"></ion-icon>
                  <ion-label>Subir Foto</ion-label>
                </ion-chip>
            </div>
        </div>
      </ion-item>
      <div class="lista_datos">
        <h1>Informacion del Usuario</h1>
        <ion-item>
          <div class="item_General">
              <div class="cajaText">
                  <h3>Correo</h3>
                  <div class="text_final d-flex">
                      <h5 *ngIf="usuario.email !== undefined">{{usuario.email}}</h5>
                      <ion-skeleton-text *ngIf="usuario.email === undefined" animated style="width: 50%"></ion-skeleton-text>
                  </div>
              </div>
          </div>
        </ion-item>
      </div>

      <div class="lista_datos">
        <h1>Datos Personales</h1>
        <ion-item>
            <div class="item_General">
                <div class="cajaText">
                    <h3>Nombre</h3>
                    <div class="text_final d-flex">
                        <h5 *ngIf="tienda.name !== undefined" >{{tienda.name}}</h5>
                        <ion-skeleton-text *ngIf="tienda.name === undefined" animated style="width: 50%"></ion-skeleton-text>
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item>
          <div class="item_General">
              <div class="cajaText">
                  <h3>Documento</h3>
                  <div class="text_final d-flex">
                      <h5 *ngIf="tienda.documentType !== undefined">{{tienda.documentType + ' ' +tienda.document}}</h5>
                      <ion-skeleton-text *ngIf="tienda.documentType === undefined" animated style="width: 50%"></ion-skeleton-text>
                  </div>
              </div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item_General">
              <div class="cajaText">
                  <h3>Teléfono</h3>
                  <div class="text_final d-flex">
                      <h5 *ngIf="tienda.phone !== undefined">{{tienda.phone}}</h5>
                      <ion-skeleton-text *ngIf="tienda.phone === undefined" animated style="width: 50%"></ion-skeleton-text>
                  </div>
              </div>
          </div>
        </ion-item>
      </div>

      <div>
        <ion-item [routerLink]="['/tienda/editar-datos-tienda', tienda.id]" class="botonDetalles">
          <ion-icon name="create-outline" slot="start"></ion-icon>        
          <h5>Editar Datos</h5>
        </ion-item>        
      </div>

      <div class="lista_datos" *ngIf="materiales.length !== 0">
        <h1>Lista de Materiales</h1>
        <ion-item *ngFor="let material of materiales" (click)="actualizarMaterial(material)">
            <div class="item_General">
                <div class="cajaText">
                    <h3>{{material.typeOfMaterial}}</h3>
                    <div class="text_final d-flex"> 
                        <h5>1 kg x 1</h5>
                        <h4 class="ion-text-end end">$ {{material.price}}</h4>
                    </div>
                </div>
            </div>
            <ion-button (click)="presentPopoverMaterial($event, material.id)" expand="block" fill="clear" shape="round">                  
              <ion-icon id="hover-button" slot="end" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button> 
        </ion-item>
      </div>

      <div>
        <ion-item [routerLink]= "['/tienda/agregar-material/crear', tienda.id]" class="botonDetalles">
          <ion-icon name="basket" slot="start"></ion-icon>
          <h5>Agregar Material</h5>
        </ion-item>        
      </div>

      <div *ngIf="direccion !== null">        
        <h1>Direccion</h1>
        <ion-list>
          <div class="lista_datos">
              <ion-item (click)="actualizarDireccion(direccion)">
                <div class="item_General">
                    <div class="cajaText">               
                      <h3 *ngIf="direccion.numberOne !== null">{{direccion.streetType + ' ' + direccion.career + ' #' + direccion.numberOne + ' - ' + direccion.numberTwo}}</h3>
                      <h3 *ngIf="direccion.numberOne === null">{{direccion.streetType + ' ' + direccion.career}}</h3>
                      <h3>{{direccion.description}}</h3>
                      <h3>Facatativá , {{direccion.neighborhood}}</h3>
                    </div>
                </div>
                <ion-button (click)="presentPopoverDireccion($event)" expand="block" fill="clear" shape="round">                  
                  <ion-icon id="hover-button" slot="end" name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>   
              </ion-item>
          </div>
        </ion-list>
      </div>

      <div *ngIf="direccion === null">
        <ion-item [routerLink]= "['/usuarios/agregar-direccion/tienda/crear', tienda.id]" class="botonDetalles">
          <ion-icon name="location-sharp" slot="start"></ion-icon>
          <h5>Agregar Domicilio</h5>
        </ion-item>        
      </div>      

  </ion-list>
</ion-content>